.x {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    box-sizing: border-box
}

.x *,
.x :after,
.x :before {
    box-sizing: inherit
}

.x-el a[href^="mailto:"]:not(.x-el),
.x-el a[href^="tel:"]:not(.x-el) {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit
}

.x-el-article,
.x-el-aside,
.x-el-details,
.x-el-figcaption,
.x-el-figure,
.x-el-footer,
.x-el-header,
.x-el-hgroup,
.x-el-main,
.x-el-menu,
.x-el-nav,
.x-el-section,
.x-el-summary {
    display: block
}

.x-el-audio,
.x-el-canvas,
.x-el-progress,
.x-el-video {
    display: inline-block;
    vertical-align: baseline
}

.x-el-audio:not([controls]) {
    display: none;
    height: 0
}

.x-el-template {
    display: none
}

.x-el-a {
    background-color: transparent;
    color: inherit
}

.x-el-a:active,
.x-el-a:hover {
    outline: 0
}

.x-el-abbr[title] {
    border-bottom: 1px dotted
}

.x-el-b,
.x-el-strong {
    font-weight: 700
}

.x-el-dfn {
    font-style: italic
}

.x-el-mark {
    background: #ff0;
    color: #000
}

.x-el-small {
    font-size: 80%
}

.x-el-sub,
.x-el-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.x-el-sup {
    top: -.5em
}

.x-el-sub {
    bottom: -.25em
}

.x-el-img {
    vertical-align: middle;
    border: 0
}

.x-el-svg:not(:root) {
    overflow: hidden
}

.x-el-figure {
    margin: 0
}

.x-el-hr {
    box-sizing: content-box;
    height: 0
}

.x-el-pre {
    overflow: auto
}

.x-el-code,
.x-el-kbd,
.x-el-pre,
.x-el-samp {
    font-family: monospace, monospace;
    font-size: 1em
}

.x-el-button,
.x-el-input,
.x-el-optgroup,
.x-el-select,
.x-el-textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.x-el-button {
    overflow: visible
}

.x-el-button,
.x-el-select {
    text-transform: none
}

.x-el-button,
.x-el-input[type=button],
.x-el-input[type=reset],
.x-el-input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.x-el-button[disabled],
.x-el-input[disabled] {
    cursor: default
}

.x-el-button::-moz-focus-inner,
.x-el-input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.x-el-input {
    line-height: normal
}

.x-el-input[type=checkbox],
.x-el-input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.x-el-input[type=number]::-webkit-inner-spin-button,
.x-el-input[type=number]::-webkit-outer-spin-button {
    height: auto
}

.x-el-input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

.x-el-input[type=search]::-webkit-search-cancel-button,
.x-el-input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.x-el-textarea {
    border: 0
}

.x-el-fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.x-el-legend {
    border: 0;
    padding: 0
}

.x-el-textarea {
    overflow: auto
}

.x-el-optgroup {
    font-weight: 700
}

.x-el-table {
    border-collapse: collapse;
    border-spacing: 0
}

.x-el-td,
.x-el-th {
    padding: 0
}

.x {
    -webkit-font-smoothing: antialiased
}

.x-el-hr {
    border: 0
}

.x-el-fieldset,
.x-el-input,
.x-el-select,
.x-el-textarea {
    margin-top: 0;
    margin-bottom: 0
}

.x-el-fieldset,
.x-el-input[type=email],
.x-el-input[type=text],
.x-el-textarea {
    width: 100%
}

.x-el-label {
    vertical-align: middle
}

.x-el-input {
    border-style: none;
    padding: .5em;
    vertical-align: middle
}

.x-el-select:not([multiple]) {
    vertical-align: middle
}

.x-el-textarea {
    line-height: 1.75;
    padding: .5em
}

.x-el.d-none {
    display: none !important
}

.sideline-footer {
    margin-top: auto
}

.disable-scroll {
    touch-action: none;
    overflow: hidden;
    position: fixed;
    max-width: 100vw
}

@-webkit-keyframes loaderscale {
    0% {
        transform: scale(1);
        opacity: 1
    }

    45% {
        transform: scale(.1);
        opacity: .7
    }

    80% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes loaderscale {
    0% {
        transform: scale(1);
        opacity: 1
    }

    45% {
        transform: scale(.1);
        opacity: .7
    }

    80% {
        transform: scale(1);
        opacity: 1
    }
}

.x-loader svg {
    display: inline-block
}

.x-loader svg:first-child {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite
}

.x-loader svg:nth-child(2) {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite
}

.x-loader svg:nth-child(3) {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite
}

.x-icon>svg {
    transition: transform .33s ease-in-out
}

.x-icon>svg.rotate-90 {
    transform: rotate(-90deg)
}

.x-icon>svg.rotate90 {
    transform: rotate(90deg)
}

.x-icon>svg.rotate-180 {
    transform: rotate(-180deg)
}

.x-icon>svg.rotate180 {
    transform: rotate(180deg)
}

.x-rt ol,
.x-rt ul {
    text-align: left
}

.x-rt p {
    margin: 0
}

.mte-inline-block {
    display: inline-block
}

@media only screen and (min-device-width:1025px) {

    :root select,
    _::-webkit-full-page-media,
    _:future {
        font-family: sans-serif !important
    }
}
</style>
<style>
/* This license can also be found at this permalink: https://www.fontsquirrel.com/license/league-spartan
Copyright (c) September 22 2014, Micah Rich micah@micahrich.com, with Reserved
Font Name: "League Spartan". This Font Software is licensed under the SIL
Open Font License, Version 1.1. This license is copied below, and is also
available with a FAQ at: http://scripts.sil.org/OFL —————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 —————————————————————————————-
*/
@import url('//img1.wsimg.com/blobby/go/font/LeagueSpartan/league-spartan.css');
/* Digitized data copyright 2010-2011, Google Corporation. Licensed under
the Apache License, Version 2.0 (the "License"); you may not use this file
except in compliance with the License. You may obtain a copy of the License
at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
law or agreed to in writing, software distributed under the License is
distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License. */
</style>
<style data-glamor="cxs-default-sheet">
.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255,
            255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5>div {
    position: relative
}

.x .c1-6>div {
    overflow: hidden
}

.x .c1-7>div {
    margin-top: auto
}

.x .c1-8>div {
    margin-right: auto
}

.x .c1-9>div {
    margin-bottom: auto
}

.x .c1-a>div {
    margin-left: auto
}

.x .c1-b {
    font-family: 'Open
Sans', arial, sans-serif}.x .c1-c{font-size:16px}.x .c1-h{background-color:rgb(22,
22, 22)
}

.x .c1-i {
    padding-top: 40px
}

.x .c1-j {
    padding-bottom: 40px
}

.x .c1-k {
    overflow: hidden
}

.x .c1-l {
    padding: 0px !important
}

.x .c1-o {
    display: none
}

.x .c1-q {
    background-color: transparent
}

.x .c1-r .sticky-animate {
    background-color: rgba(22, 22, 22, 0.9)
}

.x .c1-s {
    transition: background .3s
}

.x .c1-t {
    position: relative
}

.x .c1-u {
    padding-top: 8px
}

.x .c1-v {
    padding-bottom: 8px
}

.x .c1-w {
    padding-left: 24px
}

.x .c1-x {
    padding-right: 24px
}

.x .c1-y {
    z-index: auto
}

.x .c1-13 {
    align-items: center
}

.x .c1-14 {
    flex-wrap: nowrap
}

.x .c1-15 {
    display: flex
}

.x .c1-16 {
    margin-top: 0px
}

.x .c1-17 {
    margin-right: 0px
}

.x .c1-18 {
    margin-bottom: 0px
}

.x .c1-19 {
    margin-left: 0px
}

.x .c1-1a {
    [object -object]: 0px
}

.x .c1-1c {
    width: 15%
}

.x .c1-1d {
    padding-right: 0px
}

.x .c1-1e {
    padding-left: 0px
}

.x .c1-1f {
    letter-spacing: inherit
}

.x .c1-1g {
    text-transform: inherit
}

.x .c1-1h {
    text-decoration: none
}

.x .c1-1i {
    word-wrap: break-word
}

.x .c1-1j {
    overflow-wrap: break-word
}

.x .c1-1k {
    cursor: pointer
}

.x .c1-1l {
    justify-content: flex-start
}

.x .c1-1m {
    border-top: 0px
}

.x .c1-1n {
    border-right: 0px
}

.x .c1-1o {
    border-bottom: 0px
}

.x .c1-1p {
    border-left: 0px
}

.x .c1-1q {
    color: rgb(247, 247, 247)
}

.x .c1-1r {
    font-weight: inherit
}

.x .c1-1s:hover {
    color: rgb(194, 99, 99)
}

.x .c1-1t:active {
    color: rgb(242, 212,
            212)
}

.x .c1-1u {
    color: inherit
}

.x .c1-1v {
    display: inline-block
}

.x .c1-1w {
    vertical-align: top
}

.x .c1-1x {
    padding-top: 6px
}

.x .c1-1y {
    padding-right: 6px
}

.x .c1-1z {
    padding-bottom: 6px
}

.x .c1-20 {
    padding-left: 6px
}

.x .c1-21 {
    width: 70%
}

.x .c1-22 {
    text-align: center
}

.x .c1-23 {
    justify-content: center
}

.x .c1-24 {
    padding-left: 8px
}

.x .c1-25 {
    padding-right: 8px
}

.x .c1-26 {
    font-family: 'League Spartan', arial, helvetica, sans-serif
}

.x .c1-2a {
    display: inline
}

.x .c1-2b {
    max-width: 100%
}

.x .c1-2c {
    width: auto
}

.x .c1-2d {
    color: rgb(194, 99,
            99)
}

.x .c1-2e:hover {
    color: rgb(234, 177, 177)
}

.x .c1-2f {
    padding-top: 0px
}

.x .c1-2g {
    padding-bottom: 0px
}

.x .c1-2i {
    margin-left: auto
}

.x .c1-2j {
    margin-right: auto
}

.x .c1-2k {
    vertical-align: middle
}

.x .c1-2l {
    aspect-ratio: 1 / 1
}

.x .c1-2m {
    object-fit: contain
}

.x .c1-2n {
    height: 80px
}

.x .c1-2o {
    transition: max-height .5s
}

.x .c1-2p {
    border-radius: 0px
}

.x .c1-37 {
    justify-content: flex-end
}

.x .c1-3c {
    box-sizing: border-box
}

.x .c1-3d {
    flex-direction: row
}

.x .c1-3f {
    flex-grow: 1
}

.x .c1-3g {
    flex-shrink: 1
}

.x .c1-3h {
    flex-basis: 0%
}

.x .c1-3k {
    line-height: 24px
}

.x .c1-3l {
    padding-left: 32px
}

.x .c1-3m {
    white-space: nowrap
}

.x .c1-3n {
    visibility: hidden
}

.x .c1-3o:first-child {
    padding-left: 0
}

.x .c1-3p {
    letter-spacing: 0.063em
}

.x .c1-3q {
    display: block
}

.x .c1-3r {
    line-height: 1.5em
}

.x .c1-3s {
    margin-bottom: -5px
}

.x .c1-3t {
    font-weight: 400
}

.x .c1-3u {
    padding-bottom: 4px
}

.x .c1-3v {
    border-bottom: 1px solid
}

.x .c1-3w:hover {
    color: rgb(247,
            247, 247)
}

.x .c1-3x:active {
    color: rgb(247, 247, 247)
}

.x .c1-3y {
    margin-left: -6px
}

.x .c1-3z {
    margin-right: -6px
}

.x .c1-40 {
    margin-top: -6px
}

.x .c1-41 {
    margin-bottom: -6px
}

.x .c1-42 {
    z-index: 1
}

.x .c1-46 {
    transition: transform .33s ease-in-out
}

.x .c1-47 {
    transform: rotate(0deg)
}

.x .c1-48 {
    border-radius: 4px
}

.x .c1-49 {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.24)
}

.x .c1-4a {
    padding-top: 16px
}

.x .c1-4b {
    padding-bottom: 16px
}

.x .c1-4c {
    padding-left: 16px
}

.x .c1-4d {
    padding-right: 16px
}

.x .c1-4e {
    position: absolute
}

.x .c1-4f {
    right: 0px
}

.x .c1-4g {
    top: 32px
}

.x .c1-4h {
    max-height: 45vh
}

.x .c1-4i {
    overflow-y: auto
}

.x .c1-4j {
    z-index: 1003
}

.x .c1-4m {
    color: rgb(164, 164, 164)
}

.x .c1-4n {
    text-align: left
}

.x .c1-4o:last-child {
    margin-bottom: 0
}

.x .c1-4p {
    line-height: 1.5
}

.x .c1-4q {
    margin-bottom: 8px
}

.x .c1-4r {
    margin-top: 8px
}

.x .c1-4s {
    position: fixed
}

.x .c1-4t {
    top: 0px
}

.x .c1-4u {
    height: 100%
}

.x .c1-4v {
    z-index: 10002
}

.x .c1-4w {
    padding-top: 56px
}

.x .c1-4x {
    -webkit-overflow-scrolling: touch
}

.x .c1-4y {
    transform: translateX(-249vw)
}

.x .c1-4z {
    overscroll-behavior: contain
}

.x .c1-50 {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2)
}

.x .c1-51 {
    transition: transform .3s ease-in-out
}

.x .c1-52 {
    flex-direction: column
}

.x .c1-53 {
    line-height: 1.3em
}

.x .c1-54 {
    font-style: normal
}

.x .c1-55 {
    top: 15px
}

.x .c1-56 {
    right: 15px
}

.x .c1-57 {
    font-size: 28px
}

.x .c1-5c {
    overflow-x: hidden
}

.x .c1-5d {
    overscroll-behavior: none
}

.x .c1-5e {
    -webkit-margin-before: 0
}

.x .c1-5f {
    -webkit-margin-after: 0
}

.x .c1-5g {
    -webkit-padding-start: 0
}

.x .c1-5h {
    border-color: rgba(76,
            76, 76, 0.5)
}

.x .c1-5i {
    border-bottom-width: 1px
}

.x .c1-5j {
    border-bottom-style: solid
}

.x .c1-5k:last-child {
    border-bottom: 0
}

.x .c1-5l {
    min-width: 200px
}

.x .c1-5m {
    justify-content: space-between
}

.x .c1-5n {
    font-size: 22px
}

.x .c1-5o {
    font-weight: 700
}

.x .c1-5p:active {
    color: rgb(194,
            99, 99)
}

.x .c1-5y {
    flex-wrap: wrap
}

.x .c1-5z {
    flex-basis: auto
}

.x .c1-60 {
    order: 1
}

.x .c1-61 {
    margin-top: 24px
}

.x .c1-62 {
    margin-bottom: 24px
}

.x .c1-69 {
    margin-top: none
}

.x .c1-6h {
    padding-left: 0px
}

.x .c1-6i {
    padding-right: 0px
}

.x .c1-6r> :nth-child(n) {
    margin-bottom: 8px
}

.x .c1-6s> :last-child {
    margin-bottom: 0 !important
}

.x .c1-6z {
    width: inherit
}

.x .c1-70 {
    line-height: 1.2
}

.x .c1-71 {
    white-space: pre-line
}

.x .c1-72 {
    font-size: 40px
}

.x .c1-73 {
    border-bottom-width: 2px
}

.x .c1-74 {
    border-color: rgba(247, 247, 247,
            0.5)
}

.x .c1-7d {
    word-wrap: normal !important
}

.x .c1-7e {
    overflow-wrap: normal !important
}

.x .c1-7f {
    overflow: visible
}

.x .c1-7g {
    left: 0px
}

.x .c1-7h {
    font-size: 32px
}

.x .c1-7m>p {
    margin-top: 0
}

.x .c1-7n>p {
    margin-right: 0
}

.x .c1-7o>p {
    margin-bottom: 0
}

.x .c1-7p>p {
    margin-left: 0
}

.x .c1-7q {
    font-size: inherit !important
}

.x .c1-7r {
    line-height: inherit
}

.x .c1-7s {
    font-style: italic
}

.x .c1-7t {
    text-decoration: line-through
}

.x .c1-7u {
    text-decoration: underline
}

.x .c1-7v {
    column-gap: 24px
}

.x .c1-7w {
    row-gap: 24px
}

.x .c1-7x {
    justify-content: left
}

.x .c1-7y {
    margin-top: 16px
}

.x .c1-7z {
    margin-bottom: 16px
}

.x .c1-81 {
    transition: all 0.3s
}

.x .c1-82 {
    transition-property: background-color
}

.x .c1-83 {
    transition-duration: .3s
}

.x .c1-84 {
    transition-timing-function: ease-in-out
}

.x .c1-85 {
    border-style: none
}

.x .c1-86 {
    display: inline-flex
}

.x .c1-87 {
    padding-right: 32px
}

.x .c1-88 {
    min-height: 56px
}

.x .c1-89 {
    color: rgb(0, 0, 0)
}

.x .c1-8a {
    text-shadow: none
}

.x .c1-8b:hover {
    background-color: rgb(233,
            233, 233)
}

.x .c1-8c:hover:after {
    box-shadow: 1px 1px 0 rgba(255, 255, 255,
            0.2)
}

.x .c1-8d:hover:after {
    background-position: 100% 0
}

.x .c1-8e:after {
    content: ""
}

.x .c1-8f:after {
    background-color: transparent
}

.x .c1-8g:after {
    position: absolute
}

.x .c1-8h:after {
    top: 0px
}

.x .c1-8i:after {
    bottom: 0px
}

.x .c1-8j:after {
    right: 0px
}

.x .c1-8k:after {
    left: 0px
}

.x .c1-8l:after {
    width: 100%
}

.x .c1-8m:after {
    height: 100%
}

.x .c1-8n:after {
    transition: all .3s ease
}

.x .c1-8o:after {
    z-index: -1
}

.x .c1-8p:after {
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.2)
}

.x .c1-8q:after {
    border-radius: inherit
}

.x .c1-8r:after {
    opacity: 1
}

.x .c1-8s:after {
    margin-top: auto
}

.x .c1-8t:after {
    margin-right: auto
}

.x .c1-8u:after {
    margin-bottom: auto
}

.x .c1-8v:after {
    margin-left: auto
}

.x .c1-8x {
    flex-basis: 100%
}

.x .c1-90 {
    margin-top: 40px
}

.x .c1-91 {
    aspect-ratio: 2.7 / 1
}

.x .c1-95 {
    background-color: rgb(0,
            0, 0)
}

.x .c1-96 {
    line-height: 1.4
}

.x .c1-97 {
    margin-bottom: 40px
}

.x .c1-98 {
    color: rgb(226,
            226, 226)
}

.x .c1-9a {
    font-size: unset
}

.x .c1-9b {
    font-family: unset
}

.x .c1-9c {
    letter-spacing: unset
}

.x .c1-9d {
    text-transform: unset
}

.x .c1-9e {
    border-color: rgb(119, 119, 119)
}

.x .c1-9f {
    border-bottom-width: 1px
}

.x .c1-9g {
    border-style: solid
}

.x .c1-9h {
    margin-right: -12px
}

.x .c1-9i {
    margin-left: -12px
}

.x .c1-9n {
    padding-right: 12px
}

.x .c1-9o {
    padding-left: 12px
}

.x .c1-9v>* {
    max-width: 100%
}

.x .c1-9w {
    align-items: flex-start
}

.x .c1-9x> :nth-child(n) {
    margin-bottom: 24px
}

.x .c1-a0 {
    line-height: 1.25
}

.x .c1-a1>p>ol {
    text-align: left
}

.x .c1-a2>p>ol {
    display: block
}

.x .c1-a3>p>ol {
    padding-left: 1.3em
}

.x .c1-a4>p>ol {
    margin-left: 16px
}

.x .c1-a5>p>ol {
    margin-right: 16px
}

.x .c1-a6>p>ol {
    margin-top: auto
}

.x .c1-a7>p>ol {
    margin-bottom: auto
}

.x .c1-a8>p>ul {
    text-align: left
}

.x .c1-a9>p>ul {
    display: block
}

.x .c1-aa>p>ul {
    padding-left: 1.3em
}

.x .c1-ab>p>ul {
    margin-left: 16px
}

.x .c1-ac>p>ul {
    margin-right: 16px
}

.x .c1-ad>p>ul {
    margin-top: auto
}

.x .c1-ae>p>ul {
    margin-bottom: auto
}

.x .c1-af>ul {
    text-align: left
}

.x .c1-ag>ul {
    display: block
}

.x .c1-ah>ul {
    padding-left: 1.3em
}

.x .c1-ai>ul {
    margin-left: 16px
}

.x .c1-aj>ul {
    margin-right: 16px
}

.x .c1-ak>ul {
    margin-top: auto
}

.x .c1-al>ul {
    margin-bottom: auto
}

.x .c1-am>ol {
    text-align: left
}

.x .c1-an>ol {
    display: block
}

.x .c1-ao>ol {
    padding-left: 1.3em
}

.x .c1-ap>ol {
    margin-left: 16px
}

.x .c1-aq>ol {
    margin-right: 16px
}

.x .c1-ar>ol {
    margin-top: auto
}

.x .c1-as>ol {
    margin-bottom: auto
}

.x .c1-at {
    color: rgb(145, 145, 145)
}

.x .c1-au {
    order: 0
}

.x .c1-ax {
    border-width: 0 !important
}

.x .c1-ay {
    margin-bottom: 32px
}

.x .c1-b0 {
    background-color: rgb(82,
            23, 23)
}

.x .c1-b1 {
    color: rgb(255, 255, 255)
}

.x .c1-b2 {
    border-color: rgb(193,
            156, 156)
}

.x .c1-b3 {
    margin-bottom: -24px
}

.x .c1-b5 {
    padding-bottom: 24px
}

.x .c1-b9 {
    order: -1
}

.x .c1-ba {
    aspect-ratio: 0.5089285714285714 / 1
}

.x .c1-bb {
    object-fit: cover
}

.x .c1-bd> :nth-child(n) {
    margin-bottom: 0px
}

.x .c1-bh {
    flex-grow: 0
}

.x .c1-bi {
    color: rgb(205,
            189, 189)
}

.x .c1-bj {
    align-self: center
}

.x .c1-bk {
    color: rgb(48, 48, 48)
}

.x .c1-bl:hover {
    background-color: rgb(255, 255, 255)
}

.x .c1-bp {
    aspect-ratio: 0.5328125 / 1
}

.x .c1-br {
    border-radius: 50%
}

.x .c1-bs {
    color: rgb(249, 249, 249)
}

.x .c1-bt:hover {
    background-color: rgb(119,
            37, 37)
}

.x .c1-bv {
    min-height: 300px
}

.x .c1-c0 {
    flex-shrink: 0
}

.x .c1-ca {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.x .c1-cb {
    max-width: 88%
}

.x .c1-cc>span {
    color: rgb(0, 0, 0)
}

.x .c1-cd {
    border-top-width: 0px
}

.x .c1-ce {
    border-right-width: 0px
}

.x .c1-cf {
    border-bottom-width: 0px
}

.x .c1-cg {
    border-left-width: 0px
}

.x .c1-ch:hover {
    background-color: rgb(241,
            241, 241)
}

.x .c1-ci:hover:after {
    display: none
}

.x .c1-cj:after {
    display: none
}

.x .c1-ck:active {
    background-color: rgb(255, 255, 255)
}

.x .c1-cr {
    margin-left: -8px
}

.x .c1-cs {
    width: 24px
}

.x .c1-ct {
    height: 24px
}

.x .c1-cu {
    top: 50%
}

.x .c1-cv {
    right: auto
}

.x .c1-cw {
    line-height: 0
}

.x .c1-cx {
    transform: translateY(-50%)
}

.x .c1-cy>img {
    display: block
}

.x .c1-cz {
    margin-left: calc(24px + 8px)
}

.x .c1-d1:hover:after {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
}

.x .c1-d2:after {
    box-shadow: 5px 5px 0 rgba(0, 0,
            0, 0.2)
}

.x .c1-d3 {
    height: inherit
}

.x .c1-d4 {
    z-index: 2
}

.x .c1-d5 {
    padding-bottom: 56px
}

.x .c1-d6 {
    transform: translate3d(-120%, 0, 0)
}

.x .c1-d7 {
    opacity: 0
}

.x .c1-d8 {
    transition: transform .8s ease, opacity .1s
}

.x .c1-d9 {
    max-width: 600px
}

.x .c1-da {
    background-color: rgba(82,
            23, 23, 0)
}

.x .c1-db {
    border-color: rgba(255, 255, 255, 0.7)
}

.x .c1-dc {
    border-top-width: 1px
}

.x .c1-dd {
    border-right-width: 1px
}

.x .c1-de {
    border-left-width: 1px
}

.x .c1-df {
    padding-top: 23px
}

.x .c1-dg {
    color: rgb(224, 219, 219)
}

.x .c1-dh::placeholder {
    color: inherit
}

.x .c1-di:focus {
    outline: none
}

.x .c1-dj:focus {
    box-shadow: inset 0 0 0 1px currentColor
}

.x .c1-dk:focus+label {
    font-size: 12px
}

.x .c1-dl:focus+label {
    top: 8px
}

.x .c1-dm:focus+label {
    color: rgb(255, 255, 255)
}

.x .c1-dn:not([value=""])+label {
    font-size: 12px
}

.x .c1-do:not([value=""])+label {
    top: 8px
}

.x .c1-dp:not([value=""])+label {
    color: rgb(255, 255, 255)
}

.x .c1-dq::-webkit-input-placeholder {
    color: inherit
}

.x .c1-ds {
    top: 30%
}

.x .c1-dt {
    left: 16px
}

.x .c1-du {
    transition: all .15s ease
}

.x .c1-dv {
    pointer-events: none
}

.x .c1-dw {
    resize: vertical
}

.x .c1-dx> :nth-child(2) {
    margin-left: .25em
}

.x .c1-dy:hover {
    color: rgb(198, 198, 198)
}

.x .c1-dz:active {
    color: rgb(255, 255,
            255)
}

.x .c1-e0 {
    color: rgb(208, 195, 195)
}

.x .c1-e1 {
    font-size: 12px
}

.x .c1-e6 {
    padding-top: 24px
}

.x .c1-e7 {
    width: fit-content
}

.x .c1-e8:hover {
    cursor: pointer
}

.x .c1-eb {
    min-height: inherit
}

.x .c1-ec>* {
    flex-grow: 1
}

.x .c1-ed>* {
    min-height: inherit
}

.x .c1-ee {
    order: initial
}

.x .c1-ej {
    left: 56px
}

.x .c1-ek {
    top: 8px
}

.x .c1-el {
    padding-top: 4px
}

.x .c1-em {
    min-height: 40px
}

.x .c1-en {
    font-size: 14px
}

.x .c1-ev {
    margin-left: -4px
}

.x .c1-ew {
    width: 18px
}

.x .c1-ex {
    height: 18px
}

.x .c1-ey {
    margin-left: calc(18px + 8px)
}

.x .c1-f1 {
    color: rgb(150,
            150, 150)
}

.x .c1-f3 {
    right: 24px
}

.x .c1-f4 {
    bottom: 24px
}

.x .c1-f5 {
    z-index: 9999
}

.x .c1-f6 {
    width: 65px
}

.x .c1-f7 {
    height: 65px
}

.x .c1-f9 {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25)
}

.x .c1-fa {
    transform: translateZ(0)
}

.x .c1-fb {
    right: 0px
}

.x .c1-fc {
    z-index: 10000
}

.x .c1-fd {
    height: auto
}

.x .c1-fe {
    background-color: rgb(65,
            16, 16)
}

.x .c1-ff {
    transition: all 1s ease-in
}

.x .c1-fg {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
}

.x .c1-fh {
    contain: content
}

.x .c1-fi {
    bottom: -500px
}

.x .c1-fq {
    max-height: 300px
}

.x .c1-fr {
    color: rgb(197, 173, 173)
}

.x .c1-ft {
    margin-bottom: 4px
}

.x .c1-fu {
    word-break: break-word
}

.x .c1-fv {
    flex-basis: 50%
}

.x .c1-fw:nth-child(2) {
    margin-left: 24px
}

.x .c1-fx:hover {
    background-color: rgb(249, 249, 249)
}
</style>
<style data-glamor="cxs-xs-sheet">
@media (max-width: 767px) {
    .x .c1-m {
        padding-top: 32px
    }
}

@media (max-width: 767px) {
    .x .c1-n {
        padding-bottom: 32px
    }
}

@media (max-width: 767px) {
    .x .c1-27 {
        justify-content: center
    }
}

@media (max-width: 767px) {
    .x .c1-28 {
        max-width: 100%
    }
}

@media (max-width: 767px) {
    .x .c1-2q {
        height: 53px
    }
}

@media (max-width: 767px) {
    .x .c1-2r {
        max-width: 224px
    }
}

@media (max-width: 767px) {
    .x .c1-2s {
        display: block
    }
}

@media (max-width: 767px) {
    .x .c1-2t {
        max-height: 80px
    }
}

@media (max-width: 767px) {
    .x .c1-2u {
        margin-top: 0
    }
}

@media (max-width: 767px) {
    .x .c1-2v {
        margin-right: auto
    }
}

@media (max-width: 767px) {
    .x .c1-2w {
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .x .c1-2x {
        margin-left: auto
    }
}

@media (max-width: 767px) {
    .x .c1-43 {
        width: 100%
    }
}

@media (max-width: 767px) {
    .x .c1-44 {
        display: flex
    }
}

@media (max-width: 767px) {
    .x .c1-6t {
        margin-bottom: 16px
    }
}

@media (max-width: 767px) {
    .x .c1-75 {
        margin-bottom: 8px
    }
}

@media (max-width: 767px) {
    .x .c1-76 {
        word-wrap: break-word
    }
}

@media (max-width: 767px) {
    .x .c1-77 {
        overflow-wrap: break-word
    }
}

@media (max-width: 767px) {
    .x .c1-92 {
        height: calc((100vw - 48px)/2.7)
    }
}

@media (max-width: 767px) {
    .x .c1-99 {
        margin-bottom: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-9y> :nth-child(n) {
        margin-bottom: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-9z> :last-child {
        margin-bottom: 0 !important
    }
}

@media (max-width: 767px) {
    .x .c1-az {
        height: calc((100vw - 48px)/1)
    }
}

@media (max-width: 767px) {
    .x .c1-bc {
        height: calc((100vw - 48px)/0.5089285714285714)
    }
}

@media (max-width: 767px) {
    .x .c1-bq {
        height: calc((100vw - 48px)/0.5328125)
    }
}

@media (max-width: 767px) {
    .x .c1-cl {
        padding-left: 16px
    }
}

@media (max-width: 767px) {
    .x .c1-cm {
        padding-right: 16px
    }
}

@media (max-width: 767px) {
    .x .c1-dr {
        font-size: 16px
    }
}

@media (max-width: 767px) {
    .x .c1-e9 {
        margin-top: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-ef {
        order: -1
    }
}

@media (max-width: 767px) {
    .x .c1-eo {
        font-size: 12px
    }
}

@media (max-width: 767px) {
    .x .c1-ep {
        left: 8px
    }
}

@media (max-width: 767px) {
    .x .c1-eq {
        max-width: 90%
    }
}
</style>
<style data-glamor="cxs-sm-sheet">
@media (min-width: 768px) {
    .x .c1-d {
        font-size: 16px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-29 {
        width: auto
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2y {
        display: block
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2z {
        max-height: 80px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-30 {
        margin-top: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-31 {
        margin-right: auto
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-32 {
        margin-bottom: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-33 {
        margin-left: auto
    }
}

@media (min-width: 768px) {
    .x .c1-38 {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-45 {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-4l {
        right: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-58 {
        font-size: 30px
    }
}

@media (min-width: 768px) {
    .x .c1-5q {
        font-size: 22px
    }
}

@media (min-width: 768px) {
    .x .c1-6a {
        display: flex
    }
}

@media (min-width: 768px) {
    .x .c1-6b {
        flex-direction: column
    }
}

@media (min-width: 768px) {
    .x .c1-6c {
        flex-grow: 1
    }
}

@media (min-width: 768px) {
    .x .c1-6d {
        flex-shrink: 0
    }
}

@media (min-width: 768px) {
    .x .c1-6e {
        flex-basis: auto
    }
}

@media (min-width: 768px) {
    .x .c1-6j {
        padding-left: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-6k {
        align-items: flex-start
    }
}

@media (min-width: 768px) {
    .x .c1-6l {
        justify-content: space-around
    }
}

@media (min-width: 768px) {
    .x .c1-6o {
        padding-top: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-6p {
        padding-bottom: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-6u {
        text-align: left
    }
}

@media (min-width: 768px) {
    .x .c1-6v {
        border-color: rgba(247, 247, 247, 0.5)
    }
}

@media (min-width: 768px) {
    .x .c1-6w {
        border-left-style: solid
    }
}

@media (min-width: 768px) {
    .x .c1-6x {
        border-left-width: 2px
    }
}

@media (min-width: 768px) {
    .x .c1-6y {
        padding-left: 32px
    }
}

@media (min-width: 768px) {
    .x .c1-78 {
        border-bottom-width: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-79 {
        font-size: 48px
    }
}

@media (min-width: 768px) {
    .x .c1-7i {
        font-size: 38px
    }
}

@media (min-width: 768px) {
    .x .c1-8w {
        width: auto
    }
}

@media (min-width: 768px) {
    .x .c1-9j {
        margin-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-9k {
        margin-right: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-9l {
        margin-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-9m {
        margin-left: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-9p {
        flex-basis: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-9q {
        max-width: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-9r {
        padding-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-9s {
        padding-left: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-b4 {
        margin-bottom: -48px
    }
}

@media (min-width: 768px) {
    .x .c1-b6 {
        flex-basis: 50%
    }
}

@media (min-width: 768px) {
    .x .c1-b7 {
        max-width: 50%
    }
}

@media (min-width: 768px) {
    .x .c1-b8 {
        padding-bottom: 48px
    }
}

@media (min-width: 768px) {
    .x .c1-be {
        position: absolute
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-bg {
        position: relative
    }
}

@media (min-width: 768px) {
    .x .c1-e2 {
        font-size: 12px
    }
}

@media (min-width: 768px) {
    .x .c1-ea {
        margin-left: 16px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-eg {
        order: -1
    }
}

@media (min-width: 768px) {
    .x .c1-er {
        font-size: 14px
    }
}

@media (min-width: 768px) {
    .x .c1-fj {
        width: 400px
    }
}

@media (min-width: 768px) {
    .x .c1-fk {
        max-height: 500px
    }
}

@media (min-width: 768px) {
    .x .c1-fl {
        border-radius: 7px
    }
}

@media (min-width: 768px) {
    .x .c1-fm {
        margin-top: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-fn {
        margin-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-fo {
        margin-bottom: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-fp {
        margin-left: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-fs {
        max-height: 200px
    }
}
</style>
<style data-glamor="cxs-md-sheet">
@media (min-width: 1024px) {
    .x .c1-e {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-p {
        display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-z {
        padding-top: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-10 {
        padding-bottom: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-11 {
        padding-left: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-12 {
        padding-right: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-1b {
        display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-2h {
        display: inline-block
    }
}

@media (min-width: 1024px) {
    .x .c1-34 {
        height: 53px
    }
}

@media (min-width: 1024px) {
    .x .c1-35 {
        width: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-36 {
        max-height: 53px
    }
}

@media (min-width: 1024px) {
    .x .c1-39 {
        width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-3e {
        display: flex
    }
}

@media (min-width: 1024px) {
    .x .c1-3i {
        flex-basis: 33.33333333333333%
    }
}

@media (min-width: 1024px) {
    .x .c1-3j {
        max-width: 33.33333333333333%
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4k {
        right: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-59 {
        font-size: 30px
    }
}

@media (min-width: 1024px) {
    .x .c1-5r {
        min-width: 300px
    }
}

@media (min-width: 1024px) {
    .x .c1-5s {
        font-size: 22px
    }
}

@media (min-width: 1024px) {
    .x .c1-5v {
        margin-left: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-5w {
        padding-bottom: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-5x {
        padding-top: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-63 {
        flex-basis: 41.66666666666667%
    }
}

@media (min-width: 1024px) {
    .x .c1-64 {
        max-width: 41.66666666666667%
    }
}

@media (min-width: 1024px) {
    .x .c1-65 {
        order: 0
    }
}

@media (min-width: 1024px) {
    .x .c1-66 {
        align-items: flex-start
    }
}

@media (min-width: 1024px) {
    .x .c1-67 {
        margin-top: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-68 {
        margin-bottom: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6f {
        padding-top: 72px
    }
}

@media (min-width: 1024px) {
    .x .c1-6g {
        padding-bottom: 72px
    }
}

@media (min-width: 1024px) {
    .x .c1-6m {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-6n {
        margin-left: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6q {
        width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-7a {
        font-size: 48px
    }
}

@media (min-width: 1024px) {
    .x .c1-7j {
        font-size: 38px
    }
}

@media (min-width: 1024px) {
    .x .c1-80 {
        margin-bottom: 8px
    }
}

@media (min-width: 1024px) {
    .x .c1-8y {
        flex-basis: 58.333333333333336%
    }
}

@media (min-width: 1024px) {
    .x .c1-8z {
        max-width: 58.333333333333336%
    }
}

@media (min-width: 1024px) {
    .x .c1-93 {
        margin-top: 40px
    }
}

@media (min-width: 1024px) {
    .x .c1-94 {
        margin-bottom: 40px
    }
}

@media (min-width: 1024px) {
    .x .c1-9t {
        flex-basis: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-9u {
        max-width: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-av {
        order: 1
    }
}

@media (min-width: 1024px) {
    .x .c1-aw {
        text-align: left
    }
}

@media (min-width: 1024px) {
    .x .c1-bf {
        position: relative
    }
}

@media (min-width: 1024px) {
    .x .c1-bm:hover {
        box-shadow: inset 0 0 0 2px
    }
}

@media (min-width: 1024px) {
    .x .c1-bn:hover {
        color: rgb(223, 100, 100)
    }
}

@media (min-width: 1024px) {
    .x .c1-bo:hover {
        background-color: transparent
    }
}

@media (min-width: 1024px) {
    .x .c1-bu:hover {
        color: rgb(167, 56, 56)
    }
}

@media (min-width: 1024px) {
    .x .c1-bw {
        flex-wrap: nowrap
    }
}

@media (min-width: 1024px) {
    .x .c1-bx {
        flex-direction: row
    }
}

@media (min-width: 1024px) {
    .x .c1-by {
        overflow-y: hidden
    }
}

@media (min-width: 1024px) {
    .x .c1-bz {
        min-height: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-c1:only-child {
        flex-basis: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-c2:only-child {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-c3:only-child>* {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-c4 {
        flex-basis: 50%
    }
}

@media (min-width: 1024px) {
    .x .c1-c5 {
        max-width: 50%
    }
}

@media (min-width: 1024px) {
    .x .c1-c6 {
        justify-content: center
    }
}

@media (min-width: 1024px) {
    .x .c1-c7>* {
        max-width: 70%
    }
}

@media (min-width: 1024px) {
    .x .c1-c8 {
        margin-right: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-c9 {
        text-align: inherit
    }
}

@media (min-width: 1024px) {
    .x .c1-cn {
        background-color: rgb(255, 255, 255)
    }
}

@media (min-width: 1024px) {
    .x .c1-co {
        color: rgb(0, 0, 0)
    }
}

@media (min-width: 1024px) {
    .x .c1-cp:hover {
        background-color: rgb(241,
                241, 241)
    }
}

@media (min-width: 1024px) {
    .x .c1-cq:active {
        background-color: rgb(255,
                255, 255)
    }
}

@media (min-width: 1024px) {
    .x .c1-d0 {
        position: static
    }
}

@media (min-width: 1024px) {
    .x .c1-e3 {
        font-size: 12px
    }
}

@media (min-width: 1024px) {
    .x .c1-eh>* {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-ei>* {
        width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-es {
        font-size: 14px
    }
}

@media (min-width: 1024px) {
    .x .c1-ez {
        flex-basis: 0%
    }
}

@media (min-width: 1024px) {
    .x .c1-f0 {
        max-width: none
    }
}

@media (min-width: 1024px) {
    .x .c1-f2 {
        text-align: center
    }
}

@media (min-width: 1024px) {
    .x .c1-f8 {
        z-index: 9999
    }
}
</style>
<style data-glamor="cxs-lg-sheet">
@media (min-width: 1280px) {
    .x .c1-f {
        font-size: 16px
    }
}

@media (min-width: 1280px) {
    .x .c1-3a {
        width: 1160px
    }
}

@media (min-width: 1280px) {
    .x .c1-5a {
        font-size: 32px
    }
}

@media (min-width: 1280px) {
    .x .c1-5t {
        font-size: 22px
    }
}

@media (min-width: 1280px) {
    .x .c1-7b {
        font-size: 62px
    }
}

@media (min-width: 1280px) {
    .x .c1-7k {
        font-size: 44px
    }
}

@media (min-width: 1280px) {
    .x .c1-e4 {
        font-size: 12px
    }
}

@media (min-width: 1280px) {
    .x .c1-et {
        font-size: 14px
    }
}
</style>
<style data-glamor="cxs-xl-sheet">
@media (min-width: 1536px) {
    .x .c1-g {
        font-size: 18px
    }
}

@media (min-width: 1536px) {
    .x .c1-3b {
        width: 1280px
    }
}

@media (min-width: 1536px) {
    .x .c1-5b {
        font-size: 36px
    }
}

@media (min-width: 1536px) {
    .x .c1-5u {
        font-size: 24px
    }
}

@media (min-width: 1536px) {
    .x .c1-7c {
        font-size: 64px
    }
}

@media (min-width: 1536px) {
    .x .c1-7l {
        font-size: 48px
    }
}

@media (min-width: 1536px) {
    .x .c1-e5 {
        font-size: 14px
    }
}

@media (min-width: 1536px) {
    .x .c1-eu {
        font-size: 16px
    }
}
</style>
<style>
@keyframes opacity-bounce {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    60% {
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.gd-ad-flex-parent {
    animation-name: opacity-bounce;
    animation-duration:
        800ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function:
        ease;
    opacity: 0;}



    .grecaptcha-badge {
        visibility: hidden;
    }


    .page-inner {
        background-color: rgb(0, 0, 0);
        min-height: 100vh;
    }